{% extends 'todo/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
   <h1 class="heading">{{title}}</h1>

<form action="{% url 'addTask' %}" method="post">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

    {% for f in form %}
        <p>
            <label class="form-label" for="{{ f.id_for_label }}">
                {%if f.name == "category" %}
                    {{f.label}}
                    <br>
                {%endif%}
            </label>
            {{ f }}
        </p>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}


    <button type="submit" class="btn btn--blue">Добавить</button>
</form>

{% endblock %}