{% extends 'todo/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block menu %}
<form action="" method="post">
    {% csrf_token %}
<h3 class="heading">Категории</h3>
    {% if cats|length != 0 %}
        {% for cat in cats %}
            <div class="cat_inner">
                <a href="{{ cat.get_absolute_url }}"><p class="content">{{ cat.name }}</p></a>

            </div>
        {% endfor %}
    {% else %}
        <p class="content">Категории еще не созданы</p>
    {% endif %}

    <input id="name" type="text" name="name" class="form-control title" placeholder="Давайте добавим категорию">
    <br>
    <input class="btn btn--blue cats" type="submit" value="Добавить">

    <div class="form-error">{{ error }}</div>





</form>

{% endblock %}
